<a href="https://colab.research.google.com/github/EnggRutuja/AOA/blob/main/Copy_of_1work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
x=5
y=7
m = "5"
n = "5"
print(type(x))
print(type(y))
print(x+y)
print(m+n)

<class 'int'>
<class 'int'>
12
55

In [ ]:
# typecasting
a = 5
#typecast to float
n = float(a)
print(n)
print(type(n))

5.0
<class 'float'>

In [ ]:
#list
l1 = ['hi',1 ,7,'list',6 ,7, 9 ,5 ,[3, 59,'hello']]
l2 = l1[8][2]
print(l2)
length = len(l1)
print(length)

hello
9

In [ ]:
num = []

num.append(21)
num.append(40.5)

print(num)

[21, 40.5]

In [ ]:
#DICTIONARY
student = {"name" : "alice" , "age" : 20, "major": "computer science"}

print("name:", student["name"])
print("age:", student["age"])

keys = student.keys()
values = student.values()
items = student.items()

print("keys:" , keys)
print("values:" , values)
print("key-value pairs:" , items)

name: alice
age: 20
keys: dict_keys(['name', 'age', 'major'])
values: dict_values(['alice', 20, 'computer science'])
key-value pairs: dict_items([('name', 'alice'), ('age', 20), ('major', 'computer science')])